/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-bg: #fff;
    --bg: #eff5f6;
    --light-bg: #e2eef1;
    --text: #141c1f;
    --hint: #adbcc0;
    --cancel: #f77;
    --save: #62de85;
    --icon: #5ed3f3;
    --accent: #00c8ff;

    /* size s */
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-text);

    /* size m */
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-text);

    /* size l */
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-title);

    /* size xl */
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-title);
  }
}

@layer components {
  .app {
    @apply min-h-screen bg-theme font-nunitoSans text-m text-theme-text;
  }

  .app-theme-dark {
    --dark-bg: #090f11;
    --bg: #0c1214;
    --light-bg: #151c1f;
    --text: #dbdbdb;
    --hint: #555;
    --cancel: #d95757;
    --save: #6cd98b;
    --icon: #74a2b2;
    --accent: #5ed3f3;
  }
}